/* Glass Box */
.glass-box {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow:hidden;

  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  &:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;

    z-index: 0;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  &:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }

  & > * {
    z-index: 2;
  }
}

/* Global customization */
.tapable {
  user-select: none;
  cursor: pointer;
}

.pos-relative {
  position: relative;
}

.no-cursor {
  user-select: none;
  pointer-events: none;
}
.v-btn {
  &.no-active:before {
    content: none;
  }
}
