/* Global customization */
.tapable {
  user-select: none;
  cursor: pointer;
}

.pos-relative {
  position: relative;
}

.no-cursor {
  user-select: none;
  pointer-events: none;
}
.v-btn {
  &.no-active:before {
    content: none;
  }
}
